.mainpage-container {
    display: flex;
    padding: 2em;
  }
  
  /* Styling for the sidebar */
  .sidebar {
    background-color: #32557f; /* Dark blue matching the tabs */
    padding: 1.5em;
    width: 20%; /* Adjust as needed */
    color: #fff; /* White text color */
    border-radius: 0.3em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
    height: 80vh; /* Set a fixed height for the sidebar */
    overflow-y: auto; /* Enable vertical scrolling */
    }
  
  .sidebar h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  /* Styling for each workout container */
  .workout-container {
    background-color: #7eb4e2; /* Light blue for workout containers */
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: background 0.3s ease; /* Smooth hover effect */
  }
  
  .workout-container:hover {
    background-color: #5b8bb1; /* Darker blue on hover */
  }
  
  .workout-container.active {
    background-color: #32557f; /* Highlight active workout */
    color: #fff; /* White text color */
  }
  
  /* Content area next to the sidebar */
  .content-area {
    width: 75%; /* Adjust the width accordingly */
    padding: 2em;
    background-color: #f5f5f5;
    border-radius: 0.3em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
  }
  
  .content-area h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .content-area p {
    font-size: 1.2em;
    line-height: 1.6;
  }
  
  .request-button {
    position: fixed; /* Positioning at the bottom right */
    bottom: 2em; /* Move it up higher from the bottom */
    left: 50%;
    transform: translateX(-50%);
    background-color: #32557f; /* Button color */
    color: #fff; /* Text color */
    border: none;
    padding: 1.5em 4em; /* Increased padding for a bigger button */
    border-radius: 0.3em;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 1.1em; /* Slightly larger font size */
  }
  
  .request-button:hover {
    background-color: #5b8bb1; /* Darker blue on hover */
  }
  
  /* Modal styles */
  .modal {
    position: fixed;
    z-index: 1000; /* Ensure modal is above other content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  }
  
  .modal-content {
    background-color: #fff; /* White background for modal content */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Set a specific width for the modal */
    border-radius: 0.3em;
    text-align: center; /* Center text inside modal */
  }
  
  .close {
    color: #aaa; /* Close button color */
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black; /* Change color on hover */
    text-decoration: none;
    cursor: pointer;
  }
  