/* General layout for tabs */
.tabs {
    width: 100%;
  }
  
  nav {
    display: flex;
    justify-content: space-around; /* Evenly spreads the tabs */
    align-items: center; /* Ensures vertical centering */
    background-color: #32557f; /* Add background color to the navbar */
    padding: 1em 0; /* Adjusts the padding for height */
  }
  
  nav a {
    position: relative;
    width: auto;
    flex: 1; /* Ensures all tabs take equal width */
    text-align: center;
    padding: 1em 2em; /* Maintains height with padding */
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    background-color: #7eb4e2;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 0 0.2em; /* Space between each tab */
    border-radius: 0.4em 0.4em 0 0;
  }
  
  nav a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #7eb4e2;
    transform: scale(1.05, 1.1) perspective(0.5em) rotateX(5deg);
  }
  
  nav a.active {
    z-index: 2;
    background-color: #32557f;
    color: #fff;
  }
  
  nav a.active::before {
    background-color: #32557f;
  }
  
  .content {
    max-width: 600px;
    margin-bottom: 1em;
    background: #32557f;
    padding: 2em 3em;
    border-radius: 0.15em;
    border: 0.2em solid #fff;
    color: #fff;
    margin: 2em auto; /* Center the content on the screen */
  }
  
  /* Responsive behavi
  